body
{
  background-image: url(sports.jpg);
  background-size: 100%;
  background-repeat:no-repeat ;
  
}
ul{
  list-style-type: none;
}
a{
  font-size: 40px;
  color :red;
  text-align:center;

}
a{
  font-size: 30px;
  color:brown;
  text-align:center;

}
h3
{
  color: #363636;
  font-size: 30px;
  padding-left: 20px;
}
.icon
{
  color: black;
  padding-bottom: 5px;
}

.mainHeader
{
  font-family: 'Notable',sans-serif;
  color: #363636;
  font-size: 50px;
  display: inline;
  padding-right: 40%;
  position: absolute;
  top:7%;
}
.secondHeader
{
  font-family: 'Arimo', sans-serif;
  color:brown;
  font-size: 25px;
  padding-right: 30%;
  position: absolute;
  top:30%;
}
input[type=text] {
  position: absolute;
  width: 30%;
  padding: 12px;
  border: 1px solid #363636;
  border-radius: 30px/30px;
  top: 50%;
  color:#363636;
  right: 65%;


}
input[type=password]
{
  position: absolute;
  width: 30%;
  padding: 12px;
  border: 1px solid #363636;
  border-radius: 30px/30px;
  top: 60%;
  color:#363636;
  right:65%;
}

.button {
  background-color: #363636;
  position: absolute;
  top: 70%;
  border-width: 0;
  width: 7%;
  height: 6%;
  right: 90%;
  border-radius: 30px/30px;
  color: white;
}
.folloUs
{
  position: absolute;
  top:80%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}